@tailwind base;

@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-main !important;
		font-size: 14px;
		@apply bg-mina-light-grey;
	}

	@media (min-width: 640px) {
		html {
			font-size: 15px;
		}
	}

	@media (min-width: 768px) {
		html {
			font-size: 15.5px;
		}
	}

	@media (min-width: 1024px) {
		html {
			font-size: 16px;
		}
	}
}

@layer components {
}

@layer utilities {
	.bg-card-gradient {
		background: linear-gradient(
			180deg,
			#e7f2f6 0%,
			rgba(183, 205, 216, 0.4) 100%
		);
	}

	.bg-dark-gradient {
		@apply bg-mina-black text-mina-white bg-gradient-to-b from-[rgba(231,242,246,0.16)] to-[rgba(231,242,246,0.01)];
	}

	.stroke-orange-gradient {
		@apply stroke-[url(#iconSvgOrangeGradient)];
	}
}
